@font-face {
    font-family: Allura-Regular;
    src: url(Allura-Regular.ttf);
}

body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
  padding-top: 50px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
.navbar-brand{
  font-family: Allura-Regular;
  font-size: 2.5em;
  font-variant: bold;
}

/****************/

/*
 * Sidebar left (BeerList)
 */

/* Hide for mobile, show later */
.sidebar-left {
  display: none;
}

@media (min-width: 768px) {
  .sidebar-left {
    position: fixed;
    top: 81px;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    padding: 20px;
    padding-top: 0px; 
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    font-variant: bold;
  }
}

.beerCategory{
  display:none;
}
@media (min-width: 768px) {  
.beerCategory{
  display: block;
  background-color: #cbcbcb;
  text-decoration: none;
  /*padding-top: 10px;*/
  padding-left: 5px;
  position:fixed;
  height:30px;
  top:50px;
  left: 0;
  z-index: 10;
}
}

.navbar-inverse>.beerCat>li>a{
  color:#000;
  padding-top: 5px;
  padding-bottom: 5px;
}

#beerList > h4{
  margin-top: 1px;
  margin-left:-19px;
  padding-top: 5px;
  padding-left: 20px;
  width: 120%;
  height: 30px;
  left:0;
  top: 50px; 
  background-color:#cbcbcb;
}

/***************/

/*
 * Sidebar right (ShoppingCart)
 */

/* Hide for mobile, show later */
.sidebar-right {
  display: none;
}
.title{
  display:none;
}
@media (min-width: 768px) {  
.title{
  display: block;
  background-color: #cbcbcb;
  padding-top: 10px;
  padding-left: 5px;
  position:fixed;
  height:40px;
  top:50px;
  right: 0;
  z-index: 10;
}
}
.cartFooter{
  display:none;
}
@media (min-width: 768px) {  
.cartFooter{
  display: block;
  background-color: #cbcbcb;
  padding-top: 10px;
  padding-left: 5px;
  position:fixed;
  height:80px;
  bottom: 0;
  right: 0;
  z-index: 10;
}
}
@media (min-width: 768px) {  
  .sidebar-right {
    position: fixed;
    top: 91px;
    bottom: 82px;
    right: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    padding-top: 0px; 
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    /*border-left: 2px solid #eee;*/
  }
}

.shopping-cart{
  /*padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  color:black;*/
}
.cartitem{
  font-weight: 400;
  /*border-radius: 1em;
  border:2px solid black;
  margin:2px;*/
}

.cartitemButton{
    float:top;
}
.qtyminus, .qtyplus{
}

#hintToRemove{
  padding-bottom: 100%;
  margin: 2px;
  border: 2px grey dashed;
}



.total{
  height:30px;
}

.undoRedo{
  height:50px;
}

/**************/


/* 
 *Sidebar navigation 
 */

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color:black;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #cbcbcb;
  font-weight: bold;
}

h4{
font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/************/

/*
 * Main content (BeerInfo)
 */

.main {
  padding: 20px;
  display: none;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
  font-size: 2em;
}

.choose-quantity{
  padding-right: 10%;
  padding-left: 10%;
}

.input-number{
  height:68px;
  font-size: 24px;
}

.ok {
  height:68px;
}

/*
 * Beer Information
 */

.input-group[class*=col-]{
  float:left;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.dragMe {
  background: url("Pictures/blacktray.png") no-repeat center; 
  background-size: cover;
  cursor:move;
}

.beeritem{
  font-weight: 400;
  /*border-radius: 1em;
  border:2px solid black;
  margin:2px;*/
}
.beeritem{
  /*background-color: #cbcbcb;*/
}

.modal-dialog {
    width: 300px;
}

.modalLists{
  padding-left: 20px;
  padding-right: 20px;
}

.spanRight{
  float:right;
  padding-right: 10px;
}

.spanLeft{
  float:left;
}

#buy, #undo, #redo{
  padding: 10px;
}

#totalBuyList, #withdrawFromBalance, #newBalance{
  border-top: 1px black solid;
  padding-bottom: 20px;
  padding-top: 10px;
}
.favoriteBeers{
  position:fixed;
  bottom:0px;
  height:20%;
  /*background-color: #000000;*/
  z-index: 100;
}

